<p id="notice"><%= notice %></p>

<span class="wrapper">Feed <%= link_to 'MORE EGGS', new_feed_path %></span>
<br>
  <tbody>
    <% @feeds.each do |feed| %>
      <ul>
        <span style="background-color: white;"><%= feed.eggs %></span>
        <br> </br><!--just to keep the buttons seperate-->
        <button><%= link_to 'Show', feed %></button>
        <button><%= link_to 'Edit', edit_feed_path(feed) %></button>
        <button><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </ul>
    <% end %>
  </tbody>


<br>
