<%= turbo_frame_tag 'form1' %>
<%= form_with(model: mainthread) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="infoarea" style="form-size:80%; height:200px; font-size:14pt;">
    <%= form.label :info %>
    <%= form.text_field :info %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
</ul>
<% end %>
