
<h1>Mainthreads</h1>
<p>
    <% @mainthreads.each do |mainthread| %>
<br>
<br>
      <table>
        <tb><span class="maincontent"><%= mainthread.name %></span></tb>
        <tb><span class="maincontent"><%= mainthread.info %></span></tb>
        <br/>
        <br/>
        <br/><!--just to keep the buttons seperate-->
        <tb class="buttons"><%= link_to 'Show', mainthread %></tb>
        <tb class="buttons"><%= link_to 'Edit', edit_mainthread_path(mainthread) %></tb>
        <tb class="buttons"><%= link_to 'Destroy', mainthread, method: :delete, data: { confirm: 'Are you sure?' } %></tb>
        <tb class="buttons"><%= link_to 'add info', new_mainthread_path %></tb>
      </table>
    <% end %>
</p>
