<p id="notice"><%= notice %></p>

<h1>Mainthreads</h1>
<span class="wrapper">Mainthreads <%= link_to 'add info', new_mainthread_path %></span>


<table>
  <tbody>
    <% @mainthreads.each do |mainthread| %>
<br>
<br>
        <span style="background-color: white;"><%= mainthread.name %><%= mainthread.info %></span>
        <br> </br><!--just to keep the buttons seperate-->
        <button><%= link_to 'Show', mainthread %></button>
        <button><%= link_to 'Edit', edit_mainthread_path(mainthread) %></button>
        <button><%= link_to 'Destroy', mainthread, method: :delete, data: { confirm: 'Are you sure?' } %></button>

    <% end %>
  </tbody>
</table>
