<% turbo_stream_from "mainthreads" %>

<h1>Main Info</h1>

<% turbo_frame_tag 'form1' do %>
<%= link_to 'add info', new_mainthread_path %>
<%= render 'form', mainthread: @mainthread %>
<% end %>

<%= turbo_frame_tag "mainthreads" do %>
 <%= render @mainthreads %>
<% end %>

<%= turbo_frame_tag 'message' do %>
 <%= render 'form', message: @message %>
 <% end %>
