<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mainthread.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @mainthread.info %>
</p>

<tb class="buttons"><%= link_to 'Edit', edit_mainthread_path(@mainthread) %>  </tb>
<tb class="buttons"><%= link_to 'Back', mainthreads_path %> </tb>
